* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial;
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.card-container {
    width: 340px;
    height: 573px;
    margin: 100px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.product-name {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 10px;
}


.product-price-lable {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}