* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', Arial;
    color: #515076;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.main-title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    width: 846px;
    height: 78px;
    margin-top: 220px;
    margin-left: 217px;
    position: absolute;
}

.background-photo {
    position: absolute;
    background-size: 790px;
    width: 790px;
    height: 697px;
    background-image: url(images/background-flowers.png);
    z-index: -1;
    left: 85px;
    top: -0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 408px 85px 116px 85px;
    justify-content: flex-start;
    row-gap: 45px;
    column-gap: 45px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-card {
    width: 340px;
    padding: 25px;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
    margin-top: 30px;
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 15px;
}

.product-compound {
    margin-top: 5px;
    list-style: circle;
    margin-bottom: 25px;
}

.product-compound-item {
    margin-left: 10px;
}

.product-price-lable {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.product-price {
    font-size: 20px;
    line-height: 24px;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
}

.bg-red {
    background: red;
}

.white {
    color: white;
}

.container {
    width: 1728px;
    height: 477px;
    background-color: #3A3A3A;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 84px;
    padding-top: 85px;
    width: 1569px;
    height: 147px;
}

.footer-col:nth-child(1) {
    width: 409px;
    height: 87px;
}

.footer-col h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 154%;
    color: white;
    margin-bottom: 16px;
}

.footer-col p {
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.footer-col:nth-child(2) {
    width: 477px;
    height: 103px;
    margin-left: 132px;
}

.footer-col label {
    width: 350px;
    height: 29px;
    padding-left: 88px;
    padding-right: 39px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: white;
}

.footer-col h3 {
    color: white;
}

.footer-col ul li a {
    color: white;
}

.footer hr {
    color: white;
}

.social {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social img {
    width: 21px;
    height: 21px;
}

.form-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    width: 477px;
    height: 61px;
    margin-top: 13px;
}

#email {
    flex: 1;
    border: none;
    padding-left: 36px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
}

#email::placeholder {
    color: #000000BF;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
}

.form-group button {
    width: 124px;
    height: 22px;
    flex-shrink: 0;
    border: none;
    background-color: white;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    color: white;
}